.burger {
  width: 65px;
  height: 65px;
  position: fixed;
  bottom: 20px;
  right: 100px;

  transform-origin: 100% 100%;
  cursor: pointer;
  @include transition($easing : cubic-bezier(.66,0,.88,.76));
}

.burger * {
  @include transition;
}

.burger__face {
  width: 50px;
  height: 50px;
  position: absolute;
  background: #CCC4C2;
  z-index: 10;
  bottom: 0;
  right: 0;
}

.burger__side {
  background: #928886;
  width: 15px;
  height: 50px;
  z-index: 5;
  position: absolute;
  bottom: 8px;
  left: 0;
  transform: skewY(45deg);
}

.burger__top {
  background: #FFF5F2;
  width: 50px;
  height: 15px;
  z-index: 5;
  position: absolute;
  top: 0;
  right: 8px;
  transform: skewX(45deg);
}

.burger__wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.burger__span {
  display: block;
  height: 3px;
  width: 3px;
  background: #333;
  z-index: 15;
  border-radius: 3px;

  position: absolute;
  top: 50%;
  left: 7px;
  transform: translateY(-50%);
}

.bullet {
  display: none;
}

.line {
  width: 36px;
  height: 3px;
  left: auto;
  right: 7px;
}

.span__top {
  top: 30%;
}

.span__bottom {
  top: 70%;
}

// anim basique

.burger.anim1 {

  animation: anim1-burger .3s forwards cubic-bezier(.66,0,.88,.76);

    .burger__top {
      background: #928886;
    }
    .burger__side {
      background: #FFF5F2;
    }
    .span__bottom {
      animation: anim1-spanbot .6s forwards;
    }
    .span__top {
      animation: anim1-spantop .6s forwards;
    }
    .span__center {
      opacity: 0;
    }
}

.burger.animBack {
  animation: anim1-burger-back .3s forwards cubic-bezier(.66,0,.88,.76);
  .span__bottom {
    animation: anim1-spanbot-back .6s forwards;
  }
  .span__top {
    animation: anim1-spantop-back .6s forwards;
  }
}

@keyframes anim1-burger {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(90deg)}
}

@keyframes anim1-burger-back {
  0% {transform: rotate(90deg)}
  100% {transform: rotate(0deg)}
}

@keyframes anim1-spanbot {
  0% {top: 70%; transform: translateY(-50%) rotate(0deg);}
  10% {top: 50%; transform: translateY(-50%) rotate(0deg);}
  90% {top: 50%; transform: translateY(-50%) rotate(0deg);}
  100% {top: 50%; transform: translateY(-50%) rotate(45deg);}
}

@keyframes anim1-spantop {
  0% {top: 30%; transform: translateY(-50%) rotate(0deg);}
  10% {top: 50%; transform: translateY(-50%) rotate(0deg);}
  90% {top: 50%; transform: translateY(-50%) rotate(0deg);}
  100% {top: 50%; transform: translateY(-50%) rotate(-45deg);}
}

@keyframes anim1-spanbot-back {
  0% {top: 50%; transform: translateY(-50%) rotate(45deg);}
  25% {top: 50%; transform: translateY(-50%) rotate(0deg);}
  75% {top: 50%; transform: translateY(-50%) rotate(0deg);}
  100% {top: 70%; transform: translateY(-50%) rotate(0deg);}
}

@keyframes anim1-spantop-back {
  0% {top: 50%; transform: translateY(-50%) rotate(-45deg);}
  25% {top: 50%; transform: translateY(-50%) rotate(0deg);}
  75% {top: 50%; transform: translateY(-50%) rotate(0deg);}
  100% {top: 30%; transform: translateY(-50%) rotate(0deg);}
}

//anim 2

.burger.anim2 {

  animation: anim1-burger .3s forwards cubic-bezier(.66,0,.88,.76);

    .burger__top {
      background: #928886;
    }
    .burger__side {
      background: #FFF5F2;
    }
    .span__bottom {
      animation: anim2-spanbot .6s forwards;
    }
    .span__top {
      animation: anim2-spantop .6s forwards;
    }
    .span__center {
      opacity: 0;
    }
}




@keyframes anim2-spanbot {
  0% {top: 70%; transform: translateY(-50%) rotate(0deg);}
  10% {top: 50%; transform: translate(-50%, -50%) rotate(0deg); left:50%; width:3px;}
  90% {top: 50%; transform: translate(-50%, -50%) rotate(0deg); left:50%; width:3px;}
  100% {top: 50%; transform: translateY(-50%) rotate(45deg); width:36px ;}
}

@keyframes anim2-spantop {
  0% {top: 30%; transform: translateY(-50%) rotate(0deg);}
  10% {top: 50%; transform: translate(-50%, -50%) rotate(0deg); left:50%; width:3px;}
  90% {top: 50%; transform: translate(-50%, -50%) rotate(0deg); left:50%; width:3px;}
  100% {top: 50%; transform: translateY(-50%) rotate(-45deg); width:36px;}
}




//anim 3

.burger.anim3 {
  animation: anim3-burger 1s forwards cubic-bezier(.66,0,.88,.76);
  .bullet {
    display: block;
    width: 4px;
    height: 4px;
  }
  .line.span__bottom {
    animation: anim3-spanbot .3s forwards;
  }
  .bullet.span__bottom {
    display: block;
    animation: anim3-bulletbot .3s forwards;
  }
  .line.span__top {
    animation: anim3-spantop .3s forwards;
  }
  .bullet.span__top {
    display: block;
    animation: anim3-bullettop .3s forwards;
  }
  .line.span__center {
    animation: anim3-linecenter 1s forwards;
  }
  .bullet.span__center {
    animation: anim3-bulletcenter 1s forwards;
  }
}

.burger.animBack3 {
  animation: anim3-burger-back .5s forwards cubic-bezier(.66,0,.88,.76);
  .bullet {
    display: none;
    width: 3px;
    height: 3px;
  }
  .line.span__bottom {
    animation: anim3-spanbot-back .3s forwards;
  }
  .bullet.span__bottom {
    display: block;
    animation: anim3-bulletbot-back .3s forwards;
  }
  .line.span__top {
    animation: anim3-spantop-back .3s forwards;
  }
  .bullet.span__top {
    display: block;
    animation: anim3-bullettop-back .3s forwards;
  }
  .line.span__center {
    animation: anim3-linecenter-back .3s forwards;
  }
  .bullet.span__center {
    animation: anim3-bulletcenter-back .3s forwards;
  }
}

@keyframes anim3-burger {
  0% {transform: rotate(0deg); bottom: 20px;}
  25% {transform: rotate(0deg); bottom: 50px;}
  50% {transform: rotate(0deg); bottom: 20px;}
  75% {transform: rotate(0deg); bottom: 20px;}
  100% {transform: rotate(90deg); bottom: 20px;}
}

@keyframes anim3-spanbot {
  0% {left: 7px; right: auto; height: 3px; width: 36px; top: 70%; bottom: auto; transform: translateY(-50%) rotate(0deg);}
  50% {left: 7px; right: auto; height: 4px; width: 4px; top: auto; bottom: 7px; transform: translateY(0) rotate(0deg);}
  100% {left: 7px; right: auto; height: 4px; width: 4px; top: auto; bottom: 7px; transform: translateY(0) rotate(0deg);}
}

@keyframes anim3-bulletbot {
  0% {left: 7px; right: auto; top: 70%; bottom: auto; transform: translateY(-50%) rotate(0deg);}
  50% {left: auto; right: 7px; top: auto; bottom: 7px; transform: translateY(0) rotate(0deg);}
  100% {left: auto; right: 7px; top: auto; bottom: 7px; transform: translateY(0) rotate(0deg);}
}

@keyframes anim3-spantop {
  0% {left: 7px; right: auto; height: 3px; width: 36px; top: 30%; transform: translateY(-50%) rotate(0deg);}
  50% {left: 7px; right: auto; height: 4px; width: 4px; top: 7px; transform: translateY(0) rotate(0deg);}
  100% {left: 7px; right: auto; height: 4px; width: 4px; top: 7px; transform: translateY(0) rotate(0deg);}
}

@keyframes anim3-bullettop {
  0% {left: 7px; right: auto; top: 30%; transform: translateY(-50%) rotate(0deg);}
  50% {left: auto; right: 7px; top: 7px; transform: translateY(0) rotate(0deg);}
  100% {left: auto; right: 7px; top: 7px; transform: translateY(0) rotate(0deg);}
}

@keyframes anim3-linecenter {
  0% {width: 36px; height: 3px; left: 7px; transform: translate(0, -50%) rotate(0);}
  25% {width: 4px; height: 4px; left: 50%; transform: translate(-50%, -50%) rotate(0);}
  70% {width: 4px; height: 4px; left: 50%; transform: translate(-50%, -50%) rotate(0);}
  100% {width: 45px; height: 4px; left: 50%; transform: translate(-50%, -50%) rotate(45deg);}
}

@keyframes anim3-bulletcenter {
  0% {width: 36px; height: 3px; left: 7px; transform: translate(0, -50%) rotate(0);}
  25% {width: 4px; height: 4px; left: 50%; transform: translate(-50%, -50%) rotate(0);}
  70% {width: 4px; height: 4px; left: 50%; transform: translate(-50%, -50%) rotate(0);}
  100% {width: 45px; height: 4px; left: 50%; transform: translate(-50%, -50%) rotate(-45deg);}
}

@keyframes anim3-burger-back {
  0% {transform: rotate(90deg)}
  100% {transform: rotate(0deg)}
}

@keyframes anim3-spanbot-back {
  0% {left: 7px; right: auto; height: 4px; width: 4px; top: auto; bottom: 7px; transform: translateY(0) rotate(0deg);}
  50% {left: 7px; right: auto; height: 4px; width: 4px; top: auto; bottom: 7px; transform: translateY(0) rotate(0deg);}
  100% {left: 7px; right: auto; height: 3px; width: 36px; top: 70%; bottom: auto; transform: translateY(-50%) rotate(0deg);}
}

@keyframes anim3-bulletbot-back {
  0% {left: auto; right: 7px; top: auto; bottom: 7px; transform: translateY(0) rotate(0deg);}
  50% {left: auto; right: 7px; top: auto; bottom: 7px; transform: translateY(0) rotate(0deg);}
  100% {left: 7px; right: auto; top: 70%; bottom: auto; transform: translateY(-50%) rotate(0deg);}
}

@keyframes anim3-spantop-back {
  0% {left: 7px; right: auto; height: 4px; width: 4px; top: 7px; transform: translateY(0) rotate(0deg);}
  50% {left: 7px; right: auto; height: 4px; width: 4px; top: 7px; transform: translateY(0) rotate(0deg);}
  100% {left: 7px; right: auto; height: 3px; width: 36px; top: 30%; transform: translateY(-50%) rotate(0deg);}
}

@keyframes anim3-bullettop-back {
  0% {left: auto; right: 7px; top: 7px; transform: translateY(0) rotate(0deg);}
  50% {left: auto; right: 7px; top: 7px; transform: translateY(0) rotate(0deg);}
  100% {left: 7px; right: auto; top: 30%; transform: translateY(-50%) rotate(0deg);}
}

@keyframes anim3-linecenter-back {
  0% {width: 45px; height: 4px; left: 50%; transform: translate(-50%, -50%) rotate(45deg);}
  25% {width: 4px; height: 4px; left: 50%; transform: translate(-50%, -50%) rotate(0);}
  70% {width: 4px; height: 4px; left: 50%; transform: translate(-50%, -50%) rotate(0);}
  100% {width: 36px; height: 3px; left: 7px; transform: translate(0, -50%) rotate(0);}
}

@keyframes anim3-bulletcenter-back {
  0% {width: 45px; height: 4px; left: 50%; transform: translate(-50%, -50%) rotate(-45deg);}
  25% {width: 4px; height: 4px; left: 50%; transform: translate(-50%, -50%) rotate(0);}
  70% {width: 4px; height: 4px; left: 50%; transform: translate(-50%, -50%) rotate(0);}
  100% {width: 36px; height: 3px; left: 7px; transform: translate(0, -50%) rotate(0);}
}
