@import url('https://fonts.googleapis.com/css?family=Ropa+Sans');
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #333;
  h1{
    display: block;
    font-size: 3rem;
    color: #FFF5F2;
    font-family: 'Ropa Sans', sans-serif;
    letter-spacing: 0.5rem;
    margin: 50px auto;
    text-align: center;


  }
}

.burger.demo1 {
  left: 100px;
  right: auto;
}

.burger.demo2 {
  right: 48%;
}
